#######开放模式############

###############
#    folder   #
###############
/.settings/
/.settings/*
/.target/
/.target/*
*/bin/*
###############
#  fixed file #
###############
.gitignore
*.class
*.classpath
*.prefs
#########保守模式############
!*.java
!*.xml
!*.js
!*.css
!*.properties